/* ************** */
/* PRODUCTS LIST */
/* ************** */

.pops-div
{
    display: flex;
    justify-content: space-between;
    padding: 0px 12px !important;
}

.pops
{
    width: 100%;
    max-width: 279.672px;
    padding: 10px 15px;
    background: #154193;
    border-radius: 12px;
}

.blue
{
    border: 4px solid #2488D5;
}

.orange
{
    border: 4px solid #FF8141;
}

.yellow
{
    border: 4px solid #EDAF00;
}

.pops-title
{
    margin: 0;
    font-weight: 500;
    color: #FDF9F5;
}

.pops-text
{
    margin: 0;
    margin-top: 5px;
    font-weight: 400;
    color: #FDF9F5;
}

.products-table
{
    width: 100%;
    margin-top: 30px;
}

.table-content
{
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
}

.table-content p
{
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.products-table-item
{
    height: 3.9rem;
    border-bottom: 1px solid rgba(21, 65, 147, 0.25);
}

.paginator-container
{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

#status
{
    padding: 7px 0;
    background: rgba(0, 126, 51, 0.16);
    border-radius: 4px;
    color: #007E33;
}

.form-consult-search
{
    width: 100%;
    padding: 5px;
    background: #FDF9F5;
    border: 3px solid rgba(21, 65, 147, 0.24);
    border-radius: 10px;
}

.form-consult-search:focus
{
    outline: 2px solid #154193;
}

.color-text
{
    color: #154193;
}

.table-colors
{
    width: 8px;
    height: 8px;
    margin: 0 1px;
}

.ind-color
{
    color: #EDAF00;
}

.combo-color
{
    color: #FF8141;
}

.input-div
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-icon
{
    position: absolute;
    right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.multiselect-dropdown
{
    width: 100% !important;
    height: 100% !important;
    border: 2px solid #154193 !important;
    border-radius: 8px !important;
}

.button-filter
{
    max-width: 174.750px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FDF9F5;
    color: #154193;
    font-weight: bold;
    border: 2px solid #154193;
    border-radius: 8px;
}

.button-filter:hover
{
    background-color: #154193;
    color: #FDF9F5;
}

.button-filter:focus
{
    background-color: #FFBE06;
    color: #FDF9F5;
    border: 1px solid #FFBE06;
    border-radius: 8px;
    outline: 1px solid #FFBE06 !important;
    box-shadow: 1px 1px 1px #FFBE06;
}

.images-div
{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.add-icon-div
{
    width: 48px;
    height: 48px;
    background: rgba(21, 65, 147, 0.25);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.add-icon
{
    width: 16px;
    height: 16px;
}

.img-div
{
    flex: 1 0 13%;
    margin-bottom: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.form-image
{
    width: 48px;
    height: 48px;
    border-radius: 8px;
}

/* ************** */
/* PRODUCTS CREATE-EDIT */
/* ************** */

.create-button-div
{
    display: flex;
    justify-content: center;
}

/* ************** */
/* SALES */
/* ************** */

.table-product-detail
{
    background-color: rgba(255, 190, 6, 0.16);
    cursor: pointer;
}

#popUp
{
    width: 40em;
    height: 40em;
    padding: 2rem;
    border: 0 !important;
    box-shadow: 0 0 1rem rgb(0, 0, 0);
    border-radius: 8px;
}

#popUp[open]
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#popUp::backdrop
{
    background: rgba(0, 0, 0, 0.4);
}

.popup-container
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.person-shipping
{
    flex-direction: row;
}

#close
{
    cursor: pointer;
}

@media (max-width: 1279px)
{
    .admin-section
    {
        padding-right: 3.25rem;
        padding-top: 54px !important;
    }

    .pops-pad
    {
        padding: 15px;
    }

    .pops
    {
        max-width: 220px;
        max-height: 72px;
    }

    .pops-title
    {
        font-size: 20px;
        line-height: 24px;
    }

    .pops-text
    {
        font-size: 14px;
        line-height: 16px;
    }

    .form-consult-search
    {
        max-height: 42px;
    }

    .table-title
    {
        font-size: 14px;
        line-height: 16px;
    }

    .table-product-info
    {
        font-size: 12px;
        line-height: 16px;
        text-align: center;
    }

    .table-product-detail
    {
        background-color: rgba(255, 190, 6, 0.16);
        border-radius: 8px;
    }

    .input-icon img
    {
        width: 16px;
        height: 16px;
    }

    .button-filter
    {
        max-width: 160px;
        font-size: 14px;
        line-height: 19px;
    }

    .button-filter img
    {
        width: 14px;
        height: 14px;
    }
}

@media (min-width: 1280px)
{
    .admin-section
    {
        padding-right: 3.5rem;
        padding-top: 54px !important;
    }

    .pops-pad
    {
        padding: 15px;
    }

    .pops
    {
        max-width: 246px;
        max-height: 72px;
    }

    .pops-title
    {
        font-size: 20px;
        line-height: 24px;
    }

    .pops-text
    {
        font-size: 14px;
        line-height: 16px;
    }

    .form-consult-search
    {
        height: 41px;
    }

    .table-title
    {
        font-size: 14px;
        line-height: 16px;
    }

    .table-product-info
    {
        font-size: 14px;
        line-height: 16px;
    }

    .input-icon img
    {
        width: 16px;
        height: 16px;
    }

    .button-filter
    {
        max-width: 160px;
        font-size: 16px;
        line-height: 22px;
    }

    .button-filter img
    {
        width: 16px;
        height: 16px;
    }

    .add-icon-div
    {
        width: 64px;
        height: 64px;
    }

    .add-icon
    {
        width: 22px;
        height: 22px;
    }

    .form-image
    {
        width: 64px;
        height: 64px;
    }

    .create-button-div
    {
        margin-bottom: 3%;
    }
}

@media (min-width: 1500px)
{
    .admin-section
    {
        padding-right: 3.5rem;
        padding-top: 54px !important;
    }

    .pops-pad
    {
        padding: 15px;
    }

    .pops
    {
        height: 80px;
        max-width: 304px;
        max-height: 80px;
    }

    .pops-title
    {
        font-size: 28px;
        line-height: 24px;
    }

    .pops-text
    {
        margin-top: 10px;
        font-size: 16px;
        line-height: 16px;
    }

    .form-consult-search
    {
        height: 48px;
    }

    .table-title
    {
        font-size: 16px;
        line-height: 16px;
    }

    .table-product-info
    {
        font-size: 16px;
        line-height: 16px;
    }

    .table-colors
    {
        width: 12px;
        height: 12px;
    }

    .input-icon img
    {
        width: 20px;
        height: 20px;
    }

    .button-filter
    {
        margin: 0;
        max-width: 160px;
        font-size: 20px;
        line-height: 27px;
    }

    .button-filter img
    {
        width: 19px;
        height: 19px;
    }

    .add-icon-div
    {
        width: 72px;
        height: 72px;
    }

    .add-icon
    {
        width: 24px;
        height: 24px;
    }

    .form-image
    {
        width: 72px;
        height: 72px;
    }
}

