.carousel
{
    position: relative;
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.carousel__image
{
    width: 100%;
}

.carousel_image_container
{
    position: relative;
}

.carousel__track-container
{
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel__track
{
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: transform 250ms ease-in;
}

.carousel__slide
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
    z-index: 1;
}

.carousel__button--left
{
    left: -3.3rem;
}

.carousel__button--right
{
    right: -3.3rem;
}

.carousel__button img
{
    width: 1.5rem;
}

.carousel__nav
{
    display: flex;
    justify-content: center;
    margin: 0.6rem 0;
}

.carousel__indicator
{
    border: 0;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background: rgba(0, 0, 0, 0.3);
    margin: 0 0.8rem;
    cursor: pointer;
}

.carousel__indicator.current-slide
{
    background: rgba(0, 0, 0, 0.75);
}

@media (min-width: 768px)
{
    .carousel
    {
        width: 15rem;
        height: 15rem;
    }
}

@media (min-width: 1025px)
{
    .specs
    {
        padding-bottom: 2rem;
    }

    .carousel
    {
        width: 30rem;
        height: 30rem;
    }
}
