.carousel
{
    position: relative;
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.carousel__image
{
    width: 100%;
    height: 100%;
}

.carousel__track-container
{
    height: 100%;
    position: relative;
}

.carousel__track
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.carousel__slide
{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel__button--left
{
    left: -3.3rem;
}

.carousel__button--right
{
    right: -3.3rem;
}

.carousel__button img
{
    width: 0.8rem;
}

.carousel__nav
{
    display: flex;
    justify-content: center;
    margin: 0.6rem 0;
}

.carousel__indicator
{
    border: 0;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background: rgba(0, 0, 0, 0.3);
    margin: 0 0.8rem;
}

.carousel__indicator.current-slide
{
    background: rgba(0, 0, 0, 0.75);
}
