.footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container
{
    width: 100%;
    padding: 10px;
}

.active-links
{
    display: none !important;
}

.footer-drop-down {
    display: flex;
    justify-content: space-between;
}

.drop-down-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.4px;
}

.drop-down-cross {
    font-weight: 300;
    font-size: 48px;
    letter-spacing: 0.4px;
}

.links-vertical
{
    display: flex;
    flex-direction: column;
}

.shop-links
{
    width: 50%;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.12px;
    color: #FDF9F5;
}

.footer-div {
    display: flex;
    justify-content: center;
}

#fb-icon
{
    margin-left: 1rem;
}

.contact-btn {
    width: 140px;
    height: 50px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}

.questions-div {
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.general-questions {
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FDF9F5A6;
}

.footer-copyright {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #FDF9F5BF;
}

@media(min-width: 768px)
{
    .contact-btn
    {
        max-width: 340px;
        width: 340px;
    }

    .footer-copyright
    {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

@media(min-width: 1025px)
{
    .active-links
    {
        display: flex !important;
    }

    .footer-container
    {
        padding: 0;
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        justify-content: space-between;
    }

    .logo
    {
        margin-left: 2rem;
    }

    hr
    {
        display: none;
    }

    .drop-down-cross
    {
        display: none;
    }

    .links
    {
        width: 70%;
        padding-left: 2rem;
        padding-right: 2rem;
        display: flex;
        justify-content: space-between;
    }

    .drop-down-title
    {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1px;
    }

    .links-container
    {
        padding-top: 1rem;
    }

    .shop-links
    {
        width: 100%;
        margin-bottom: 0.5rem;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 1px;
    }

    .contact-questions
    {
        margin-right: 2rem;
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .contact-btn
    {
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .questions-div
    {
        align-items: end;
    }

    .general-questions
    {
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 1px;
    }

    .footer-copyright
    {
        justify-content: flex-start;
    }
}

@media (min-width: 1280px)
{
    .drop-down-title
    {
        font-size: 20px;
    }

    .shop-links
    {
        font-size: 16px;
        line-height: 24px;
    }

    .general-questions
    {
        font-size: 14px;
        line-height: 24px;
    }
}

@media (min-width: 1536px)
{
    .drop-down-title
    {
        font-size: 24px;
    }

    .shop-links
    {
        font-size: 18px;
    }

    .general-questions
    {
        font-size: 16px;
    }
}
