.footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container
{
    width: 100%;
    padding: 0.5rem 1rem;
}

.footer-drop-down {
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
}

.drop-down-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.4px;
}

.drop-down-cross {
    font-weight: 300;
    font-size: 48px;
    letter-spacing: 0.4px;
    transform: rotate(0deg);
    transition: transform 0.25s linear;
}

.open
{

    transform: rotate(45deg);
    transition: transform 0.25s linear;
}

.wrapper
{
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 500ms;
}

.wrapper.show
{
    grid-template-rows: 1fr;
}

.links-vertical
{
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.links-horizontal
{
    display: flex;
    align-items: center;
    min-height: 0;
}

.shop-links
{
    width: 50%;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.12px;
    color: #FDF9F5;
}

.shop-links:hover
{
    color: #FDF9F5A6
}

.footer-div {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

#fb-icon
{
    margin-left: 1rem;
}

.contact-btn {
    width: 140px;
    height: 50px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}

.questions-div {
    flex-direction: column;
    align-items: center;
}

.general-questions {
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FDF9F5A6;
}

.general-questions:hover
{
    color: #FDF9F5;
}

.footer-copyright {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #FDF9F5BF;
}

@media(min-width: 768px)
{
    .contact-btn
    {
        max-width: 340px;
        width: 340px;
    }

    .footer-copyright
    {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

@media(min-width: 1025px)
{
    .wrapper
    {
        grid-template-rows: 1fr;
    }

    .active-links
    {
        display: flex !important;
    }

    .footer-container
    {
        padding: 2rem;
        display: flex;
        justify-content: space-between;
    }

    .footer-div
    {
        justify-content: end;
    }

    hr
    {
        display: none;
    }

    .drop-down-cross
    {
        display: none;
    }

    .links
    {
        width: 100%;
        padding: 0 2rem;
        display: flex;
        justify-content: space-between;
    }

    .drop-down-title
    {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1px;
    }

    .links-container
    {
        padding-top: 1rem;
    }

    .shop-links
    {
        width: 100%;
        margin-bottom: 0.5rem;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 1px;
    }

    .contact-questions
    {
        flex-basis: 33%;
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .contact-button-div
    {
        width: 70%;
    }

    .contact-btn
    {
        width: 100%;
        padding: 0;
        font-size: 20px;
    }

    .questions-div
    {
        align-items: end;
    }

    .general-questions
    {
        width: 100%;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 1px;
        text-align: end;
    }

    .footer-copyright
    {
        justify-content: flex-start;
        padding-left: 5rem;
    }
}

@media (min-width: 1280px)
{
    .footer-container
    {
        padding: 2rem 3rem;
    }

    .drop-down-title
    {
        font-size: 20px;
    }

    .shop-links
    {
        font-size: 16px;
        line-height: 24px;
    }

    .general-questions
    {
        font-size: 14px;
        line-height: 24px;
    }

    .contact-btn
    {
        width: 70%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

@media (min-width: 1536px)
{
    .footer-container
    {
        padding: 2rem 5rem;
    }

    .drop-down-title
    {
        font-size: 24px;
    }

    .links
    {
        justify-content: space-evenly;
    }

    .shop-links
    {
        font-size: 18px;
    }

    .general-questions
    {
        font-size: 16px;
    }

    .contact-btn
    {
        font-size: 22px;
    }
}
