.home {
    background-color: #FDF9F5;
}

.new-product {
    background-color: #154193;
    padding-top: 6rem;
}

.home-rocket
{
    width: 4.1rem;
    height: 3.9rem;
    top: 10%;
    left: -4%;
}

.new-product-image-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.new-product-image {
    width: 100%;
}

.new-product-text-div
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-product-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: center;
    color: #FFBE06;
}

.new-product-name {
    font-family: 'Don José';
    font-size: 48px;
    line-height: 52px;
    text-align: center;
}

.new-product-button {
    text-align: center;
    margin-top: 15px;
    z-index: 1;
}

.images-overlap {
    position: relative;
    display: flex;
}

.image-to-overlap {
    position: absolute;
    display: flex;
}

.boat-and-line {
    margin-top: 3rem;
}

.image-width {
    width: 100%;
}

.home-boat {
    width: 6rem;
    height: 4.2rem;
    left: 2rem;
    bottom: 0.9rem;
}

.home-wave
{
    margin-bottom: -1px;
}

.home-sun {
    top: 110%;
    right: 0;
}

.container {
    max-width: 100%;
    margin-top: 50px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.categories-plaza-div {
    justify-content: end;
    align-items: start;
    margin-bottom: 15px;
    width: 310px;
    height: 195px;
    border: 5px solid #FD8B7C;
    background-color: #fff;
    border-radius: 15px;
}

.categories-singles-div {
    justify-content: center;
    align-items: start;
    margin-top: 15px;
    width: 310px;
    height: 195px;
    background-color: #fff;
    border: 5px solid #EDAF00;
    ;
    border-radius: 15px;
}

.plaza-image {
    width: 100%;
}

.singles-image {
    width: 100%;
}

.categories-name {
    bottom: 22%;
    left: 4%;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
}

.categories-button {
    width: 160px !important;
    padding: 5px;
    bottom: 0.25rem;
    left: 15px;
    font-weight: 700;
    font-size: 16px;
}

.anchor {
    margin-top: 15px;
    margin-bottom: 15px;
}

.title {
    margin-bottom: 30px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 48px;
}

.main-text {
    color: #154193;
}

@keyframes scroll {
    0% {
        transform: translateX(0px);
        left: 0;
    }

    100% {
        transform: translateX(calc(-490px * 2));
        left: -100%;
    }
}

.title-div {
    display: flex;
    align-items: center;
}

.shine {
    margin-bottom: 2rem;
    width: 13.5px;
    height: 16px;
}

.product {
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
}

.noted-products-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.noted-products {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.noted {
    top: 2%;
    right: 2%;
    margin: 0 !important;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid #FF8141;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-align: center;
}

.with-color {
    background-color: #FF8141;
    z-index: 1;
}

.without-color {
    color: #FF8141;
    z-index: 1;
}

.noted-image {
    width: 100%;
    border-radius: 8px;
}

.noted-image-not-found {
    width: 120px;
    height: 120px;
}

.cart-bag-div {
    bottom: 2%;
    right: 2%;
    padding: 5px;
    background-color: #154193;
    border-radius: 50%;
}

.cart-bag
{
    width: 14px;
    height: 14px;
}

.product-name {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #404040;
}

.product-price {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #154193;
}

.know-what-section {
    padding: 0 !important;
}

.know-what-div {
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #2488D5;
    padding-bottom: 2rem;
}

.img-width {
    width: 100%;
    margin-bottom: -1px;
}

.know-what-img
{
    width: 100%;
}

.know-what-title
{
    font-family: 'Don José';
    font-size: 36px;
    line-height: 53px;
}

.text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.know-what-text-div
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.know-what-text {
    margin-top: 1rem;
    text-align: center;
}

.about-us-section {
    padding-bottom: 2rem;
}

.about-us-img
{
    width: 100%;
}

.about-us-text-div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us-text {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #404040;
    text-align: justify;
}

.about-us-button
{
    width: 150px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}

.opinions-title {
    margin-top: 2rem;
    font-family: 'Don José';
    font-size: 29px;
    line-height: 36px;
    text-align: center;
}

.opinions-images {
    width: 22.5rem;
    height: 17.6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.opinions-fish {
    width: 34px;
    height: 24px;
    top: 15%;
    left: -3%;
}

.opinions-fish-bubbles {
    width: 55px;
    height: 40px;
    bottom: 30%;
    right: 0;
}

.logo {
    width: 70px;
    height: 40px;
}

@media(min-width: 768px)
{
    .new-product
    {
        padding-top: 10rem;
    }

    .home-rocket
    {
        top: 10rem;
        left: 3rem;
    }

    .new-product-image-div
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .new-product-title
    {
        font-size: 16px;
    }

    .new-product-name
    {
        font-size: 72px;
        line-height: 80px;
    }

    .home-boat {
        left: 12rem;
        bottom: 1.7rem;
    }

    .title
    {
        font-size: 40px;
        line-height: 48px;
    }

    .categories-plaza-div
    {
        width: 442px;
        height: 280px;
    }

    .categories-singles-div
    {
        width: 442px;
        height: 280px;
    }

    .categories-name {
        font-size: 30px;
    }

    .categories-button {
        height: 50px;
        padding: 5px;
        bottom: 2%;
        left: 4%;
        font-size: 18px;
        line-height: 25px;
    }

    .product
    {
        width: 17.25rem;
        height: 17.25rem;
    }

    .noted-products
    {
        flex-basis: 50%;
        font-size: 14px;
    }

    .noted
    {
        font-size: 14px;
    }

    .noted-image-not-found {
        width: 150px;
        height: 150px;
    }

    .cart-bag
    {
        width: 16px;
        height: 16px;
    }

    .product-name
    {
        font-size: 18px;
    }

    .product-price
    {
        font-size: 24px;
    }

    .know-what-div {
        padding-left: 17%;
        padding-right: 17%;
    }

    .know-what-title
    {
        font-size: 48px;
        line-height: 72px;
    }

    .text
    {
        font-size: 20px;
        line-height: 28px;
    }

    .about-us-section
    {
        padding-left: 15%;
        padding-right: 15%;
    }

    .about-us-text
    {
        padding: 0;
    }

    .about-us-button
    {
        max-width: 340px;
        width: 340px;
    }

    .opinions-title
    {
        font-size: 48px;
        line-height: 56px;
    }

    .opinions-fish
    {
        width: 45px;
        height: 32px;
        top: 23%;
        left: 22%;
    }

    .opinions-fish-bubbles
    {
        width: 75px;
        height: 45px;
        bottom: 40%;
        right: 18%;
    }

    #homeOpinion1
    {
        margin-left: 50%;
    }

    #homeOpinion2
    {
        width: 430px;
        height: 270px;
        margin-right: 40%;
    }

    #homeOpinion3
    {
        margin-left: 50%;
    }
}

@media(min-width: 1025px)
{
    .home-rocket
    {
        top: 10rem;
        left: 25rem;
    }

    .home-boat
    {
        bottom: 2.2rem;
        left: 15rem;
    }

    .home-sun
    {
        top: 80%;
    }

    .container
    {
        padding-left: 10%;
        padding-right: 10%;
    }

    .new-product-image-div
    {
        padding-left: 6rem;
        padding-right: 6rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
    }

    .new-product-image
    {
        width: 30rem;
        max-width: 30rem;
    }

    .new-product-text-div
    {
        align-items: start;
    }

    .new-product-title
    {
        font-size: 14px;
    }

    .new-product-name
    {
        font-size: 48px;
        line-height: 56px;
        text-align: start;
    }

    .button
    {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .boat-and-line {
        margin-top: -5rem;
    }

    .title
    {
        margin-bottom: 15px;
        font-size: 32px;
    }

    .categories-container
    {
        align-items: start;
        margin-bottom: 50px;
    }

    .categories-title-div
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .categories-div
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .categories-plaza-div
    {
        width: 385px;
        height: 225px;
        margin: 0;
    }

    .categories-singles-div
    {
        width: 385px;
        height: 225px;
        margin: 0;
    }

    .plaza-image
    {
        width: 90%;
    }

    .singles-image
    {
        width: 90%;
    }

    .categories-name {
        bottom: 27%;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.4px;
    }

    .categories-button {
        height: 40px;
        bottom: 5%;
        font-size: 15px;
        line-height: 20px;
    }

    #categoriesAnchorDesktop
    {
        display: block !important;
    }

    #categoriesAnchorMobile
    {
        display: none;
    }

    .shine {
        margin-bottom: 4%;
    }

    .noted-products-div
    {
        justify-content: center;
    }

    .noted-products
    {
        flex-basis: 33%;
    }

    .noted
    {
        font-size: 12px;
    }

    .cart-bag
    {
        width: 16px;
        height: 16px;
    }

    .product-name
    {
        font-size: 16px;
    }

    .product-price
    {
        font-size: 20px;
    }

    .know-what-section
    {
        padding: 0;
    }

    .know-what-div {
        display: flex;
        flex-direction: row-reverse;
        padding-bottom: 0;
    }

    .know-what-img
    {
        width: 29rem;
        height: 18rem;
    }

    .know-what-title
    {
        font-size: 32px;
        line-height: 64px;
    }

    .text
    {
        font-size: 20px;
        line-height: 28px;
    }

    .know-what-text-div
    {
        align-items: start;
    }

    .know-what-text
    {
        margin-top: 0;
        font-size: 16px;
        line-height: 24px;
        text-align: start;
    }

    .about-us-section
    {
        display: flex;
        flex-direction: row-reverse;
        padding-right: 5%;
    }

    .about-us-img
    {
        width: 426px;
        height: 308px;
    }

    .about-us-text-div
    {
        align-items: start;
    }

    .about-us-text
    {
        padding: 0;
        margin-bottom: 0.5rem;
        font-size: 14px;
        line-height: 22px;
        text-align: start;
    }

    .about-us-button
    {
        width: 140px;
        height: 45px;
    }

    .opinions-title
    {
        font-size: 32px;
        line-height: 64px;
    }

    .opinions-fish
    {
        width: 68px;
        height: 48px;
        top: 23%;
        left: -0.7rem;
    }

    .opinions-fish-bubbles
    {
        bottom: 55%;
        right: 1rem;
    }

    #homeOpinion1
    {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 50%;
    }

    #homeOpinion2
    {
        width: 430px;
        height: 270px;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 40%;
    }

    #homeOpinion3
    {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 50%;
    }
}

@media (min-width: 1280px)
{
    .new-product-title
    {
        font-size: 16px;
    }

    .new-product-name
    {
        font-size: 64px;
        line-height: 72px;
    }

    .home-rocket
    {
        width: 85px;
        height: 80px;
    }

    .home-boat
    {
        width: 106px;
        height: 72px;
        bottom: 2.5rem;
    }

    .title
    {
        font-size: 40px;
    }

    .categories-plaza-div
    {
        width: 442px;
        height: 280px;
    }

    .categories-singles-div
    {
        width: 442px;
        height: 280px;
    }

    .noted-products
    {
        flex-basis: 25%;
    }

    .noted
    {
        font-size: 14px;
    }

    .product-name
    {
        font-size: 18px;
    }

    .product-price
    {
        font-size: 24px;
    }

    .know-what-img
    {
        width: 100%;
        height: 100%;
    }

    .know-what-title
    {
        font-size: 48px;
        line-height: 72px;
    }

    .know-what-text
    {
        font-size: 20px;
        line-height: 28px;
    }

    .about-us-text
    {
        font-size: 16px;
        line-height: 24px;
    }
    .about-us-img
    {
        width: 523px;
        height: 390px;
    }

    .opinions-title
    {
        font-size: 48px;
        line-height: 72px;
    }
}

@media (min-width: 1536px)
{
    .container
    {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .new-product-title
    {
        font-size: 18px;
    }

    .new-product-name
    {
        font-size: 72px;
    }

    .home-boat
    {
        width: 117px;
        height: 80px;
        bottom: 2.7rem;
    }

    .title
    {
        font-size: 44px;
    }

    .anchor
    {
        font-size: 20px;
    }

    .categories-plaza-div
    {
        width: 500px;
        height: 316px;
    }

    .categories-singles-div
    {
        width: 500px;
        height: 316px;
    }

    .noted
    {
        font-size: 18px;
    }

    .product-name
    {
        font-size: 24px;
    }

    .product-price
    {
        font-size: 28px;
    }

    .know-what-img
    {
        width: 602px;
        height: 378px;
    }

    .know-what-title
    {
        font-size: 56px;
    }

    .know-what-text
    {
        margin-top: 1rem;
        font-size: 24px;
        line-height: 32px;
    }

    .about-us-text
    {
        font-size: 18px;
        line-height: 26px;
    }
    .about-us-img
    {
        width: 681px;
        height: 455px;
    }

    .opinions-title
    {
        font-size: 56px;
    }
}
