.main-container
{
    padding-top: 8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #FDF9F5;
}

.main-title
{
    font-family: 'Don José' !important;
    font-size: 48px;
    line-height: 52px;
    text-align: center;
    color: #154193;
}

.text-container
{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.main-text
{
    margin-top: 1rem;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #404040;
}

.question
{
    font-weight: bold;
}

.answer
{
    margin: 0;
}

.email-phone-container
{
    width: 100%;
}

.contact-form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input
{
    margin-bottom: 1rem;
}

.form-input
{
    max-height: 48px;
}

.info-container
{
    margin-top: 1rem;
}

.info-title
{
    font-weight: 700;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #154193;
}

.info-text
{
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #404040;
}

.button
{
    width: 100%;
}

@media (min-width: 768px)
{
    .main-container
    {
        padding-top: 8rem;
    }

    .info-container
    {
        display: flex;
        justify-content: space-evenly;
    }
}

@media (min-width: 1025px)
{
    html, body
    {
        height: 100%;
        margin: 0;
    }

    #main
    {
        display: contents;
        height: 100%;
    }

    .main-container
    {
        height: 75.6%;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .contact-main
    {
        height: 100%;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .main-title
    {
        font-size: 64px;
        line-height: 72px;
        text-align: start;
    }

    .text-container
    {
        margin-top: 3rem;
        margin-bottom: 0;
    }

    .contact
    {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .contact-form
    {
        flex-basis: 65%;
    }

    .email-phone-container
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #email
    {
        flex-basis: 55%;
    }

    #phone
    {
        flex-basis: 40%;
    }

    .info-container
    {
        flex-direction: column;
        margin: 0;
    }

    .info-title
    {
        font-size: 14px;
    }

    .info-text
    {
        font-size: 16px;
    }

    .form-input
    {
        max-height: none;
        margin-bottom: 2rem;
        padding: 0.75rem !important;
    }
}

@media (min-width: 1500px)
{
    .contact-main
    {
        padding-left: 15%;
        padding-right: 15%;
    }
}
