.login-form
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login
{
    max-width: 500px;
    position: relative;
}

.welcome {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-button-div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-button{
    width: 100%;
}

.input-div
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-icon
{
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
