*
{
    color: #FDF9F5;
}

.nav-bar
{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
}

.nav
{
    height: 64px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    margin-top: 1.8rem;
    margin-bottom: 0px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #1747A0;
    border-radius: 72px;
    position:relative;
}

.nav-div
{
    flex-basis: 10%;
}

.nav-toggle-icon
{
    display: block;
}

.nav-links
{
    display: none;
}

.logo
{
    width: 70px;
    height: 40px;
}

.nav-toggle-icon
{
    width: 35px;
    height: 35px;
}

.nav-icon
{
    width: 25px;
    height: 25px;
}

.search-cart-container
{
    display: flex;
    justify-content: end;
    align-items: center;
}

.cart-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.cart-items
{
    margin-top: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FDF9F5;
}

.active
{
    display: none !important;
}

.wrapper-navbar
{
    display: grid;
    grid-template-rows: 0fr;
    justify-content: center;
    overflow: hidden;
    transition: grid-template-rows 500ms;
    padding: 0 0.2rem;
    margin-top: -2.7rem;
}

.wrapper-navbar.show
{
    grid-template-rows: 1fr;
    justify-content: normal;transition: grid-template-rows 500ms;
}

.search-section
{
    min-height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 5rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16)),
linear-gradient(0deg, #1747A0, #1747A0);
    border-radius: 15px;
}

.search-divs
{
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.input-div
{
    padding-top: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-consult-search
{
    width: 100%;
    padding: 5px;
    background: #FDF9F5;
    border: 3px solid rgba(21, 65, 147, 0.24);
    border-radius: 10px;
    color: #1747A0;
}

.form-consult-search:focus
{
    outline: 2px solid #154193;
}

.input-icon
{
    position: absolute;
    right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-title
{
    font-weight: 800;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
}

.products
{
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    padding-bottom: 2rem;
}

.products-div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-product-img
{
    width: 80px;
    height: 80px;
    padding: 5%;
    border-radius: 8px;
}

.nav-bar-link
{
    font-family: 'Don José';
    font-size: 24px;
    line-height: 28px;
}

.recommended-products-title
{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFBE06;
}

.recommended-products-text
{
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

a
{
    text-decoration: none;
}

p
{
    margin:0;
}

hr
{
    width: 100%;
}

@media(min-width: 768px)
{
    .nav
    {
        height: 80px;
    }

    .logo
    {
        width: 96px !important;
        height: 56px !important;
    }

    .nav-toggle-icon
    {
        width: 40px;
        height: 40px;
    }

    .nav-icon
    {
        width: 30px;
        height: 30px;
    }

    .form-consult-search {
        height: 48px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
    }

    .input-img
    {
        width: 19px;
        height: 19px;
    }

    .nav-title
    {
        font-size: 16px;
    }

    .nav-bar-link
    {
        font-size: 26px;
        line-height: 31px;
    }

    .recommended-products-title
    {
        font-size: 20px;
        line-height: 22px;
    }

    .recommended-products-text
    {
        font-size: 18px;
        line-height: 20px;
    }
}

@media(min-width: 1025px)
{
    .wrapper-navbar
    {
        display: none;
    }

    .nav
    {
        height: 72px;
    }

    .nav-div
    {
        flex-basis: 33%;
    }

    .nav-toggle-icon
    {
        display: none;
    }

    .nav-links
    {
        margin-left: 2rem;
        display: flex;
    }

    .nav-link
    {
        font-weight: 800;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1px;
        color: #FDF9F5;
    }

    .logo
    {
        width: 96px !important;
        height: 56px !important;
    }

    .search-cart-container
    {
        margin-right: 2rem;
    }

    .form-consult-search {
        height: 48px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
    }

    .input-img
    {
        width: 19px;
        height: 19px;
    }

    .nav-title
    {
        font-size: 16px;
    }

    .nav-bar-link
    {
        font-size: 26px;
        line-height: 31px;
    }

    .recommended-products-title
    {
        font-size: 20px;
        line-height: 22px;
    }

    .recommended-products-text
    {
        font-size: 18px;
        line-height: 20px;
    }
}
/*
@media (min-width: 1280px)
{

}

@media (min-width: 1536px)
{

} */
