.logo
{
    padding: 1.5rem;
}

.dropdown{
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FDF9F5;
}

.dropdown-text
{
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #154193;
}

.dropdown-cart
{
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
}

.dropdown-arrow
{
    width: 0.9rem;
    margin-left: 0.5rem;
}

.dropdown-price
{
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000;
}

.products
{
    background-color: #FDF9F5;
}

.active
{
    display: none !important;
}

.padding
{
    padding: 0 !important;
}

.product
{
    display: flex;
    align-items: center;
    padding: 1.5rem;
}

.product-img
{
    min-width: 7.2rem;
    height: 7.2rem;
    border-radius: 7px;
}

.product-detail
{
    width: 100%;
    margin-left: 1rem;
}

.name
{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #404040;
}

.quantity-price
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantity-div
{
    width: 100%;
    display: flex;
    align-items: center;
}

.quantity
{
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.2px;
    color: #404040;
}

.price
{
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-align: right;
    color: #000;
}

.form
{
    padding: 1.5rem;
}

.form-number
{
    margin: 0;
    position: relative;
    padding: 0.4rem 0.5rem 0.32rem 0.5rem;
    left: -0.8rem;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #fff;
    background-color: #154193;
    border-radius: 50%;
}

.form-title
{
    margin: 0;
    min-width: 275px;
    font-weight: 600;
    font-size: 22px;
    line-height: 48px;
    color: #154193;
}

.inputs-container
{
    margin-top: 1rem;
    padding-top: 0;
    border: 1px solid rgba(21, 65, 147, 0.25);
    border-radius: 8px;
}

.number-title
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs-div
{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.inputs
{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.input-error
{
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #CC0000;
}

.form-btn
{
    margin-top: 1rem;
    align-self: center;
}

.form-input
{
    max-height: 100%;
}
