.main
{
    background-color: #154193;
    padding: 1.5rem;
    padding-top: 10rem;
}

.title-container
{
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.title-shine
{
    transform: rotate(30deg);
}

.title
{
    font-family: 'Don José';
    font-size: 48px;
    line-height: 52px;
    color: #FDF9F5;
    text-align: center;
}

#desktopTitle
{
    display: none;
}

.title-description
{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.cloud-top
{
    top: 8rem;
    left: -1rem;
}

.cloud-bottom
{
    right: 0;
}

.list-main-img
{
    display: none;
}

.list-container
{
    padding: 5%;
    background-color: #FDF9F5;
}

.list-title
{
    font-weight: 500;
    font-size: 28px;
    line-height: 48px;
    text-align: center;
    color: #154193;
}

.filter-buttons-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter-button
{
    max-width: 100%;
    width: 100%;
    height: 38px;
    padding-top: 0;
    padding-bottom: 0;
}

.filter-forms-container
{
    margin-top: 15%;
    display: none;
}

.filter-form
{
    display: flex;
    flex-direction: column;
}

.price-inputs-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-title
{
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #154193;
}

.filter-divs
{
    margin-top: 5%;
}

.filters-sub-title
{
    margin-bottom: 1%;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #154193;
}

.price-input
{
    max-width: 137px;
}

.price-separation
{
    margin: 0;
    font-size: 16px;
}

.colors-checkbox-container
{
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-container
{
    display: flex;
    align-items: center;
}

.colors-checkbox
{
    width: 1rem;
    accent-color: #154193;
}

.colors-text
{
    width: 100%;
    margin-left: 0.5rem;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #404040;
}

.main-filter-btn
{
    align-self: center;
    max-width: 100%;
    width: 100%;
}

.images-overlap {
    position: relative;
    display: flex;
}

.image-to-overlap {
    position: absolute;
    display: flex;
}

.products-container {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.product {
    width: 10.6rem;
    height: 10.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
}

.noted-products {
    flex-basis: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noted {
    top: 3%;
    right: 3%;
    margin: 0 !important;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid #FF8141;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-align: center;
}

.with-color {
    background-color: #FF8141;
    z-index: 1;
}

.without-color {
    color: #FF8141;
    z-index: 1;
}

.noted-image {
    width: 100%;
    height: 100%;
}

.cart-bag-div {
    bottom: 3%;
    right: 3%;
    padding: 5px;
    background-color: #154193;
    border-radius: 50%;
}

.cart-bag
{
    width: 1rem;
    height: 1rem;
}

.product-name {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #404040;
}

.product-price {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #154193;
}

.paginator-container
{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

@media (min-width: 768px)
{

    .title
    {
        font-size: 64px;
        line-height: 72px;
    }

    .title-description
    {
        font-size: 20px;
        line-height: 28px;
    }

    .cloud-top
    {
        width: 5.3rem;
        left: 1rem;
    }

    .list-title
    {
        font-size: 40px;
        line-height: 48px;
    }

    .filter-button
    {
        width: 50%;
    }

    .filter-forms-container
    {
        margin-top: 5%;
    }

    .price-input
    {
        min-width: 330px;
    }

    .filter-title
    {
        font-size: 32px;
        line-height: 44px;
    }

    .filters-sub-title
    {
        font-size: 24px;
    }

    .colors-checkbox-container
    {
        margin-bottom: 10%;
    }

    .colors-text
    {
        font-size: 20px;
    }

    .main-filter-btn
    {
        font-size: 18px;
    }

    .product
    {
        min-width: 14rem;
        min-height: 14rem;
    }

    .product-price {
        font-size: 22px;
    }
}

@media (min-width: 1025px)
{
    .main
    {
        padding: 5rem;
        padding-bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #mobileTitle
    {
        display: none;
    }

    #desktopTitle
    {
        display: block;
        text-align: start;
    }

    .title-description-container
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .title-container
    {
        justify-content: flex-start;
    }

    .title
    {
        margin-bottom: 2rem;
    }

    .cloud-top
    {
        display: none;
    }

    .cloud-bottom
    {
        display: none;
    }

    .list-main-img
    {
        display: block;
    }

    .filter-title
    {
        font-size: 24px;
        line-height: 24px;
        text-align: left;
    }

    .filters-sub-title
    {
        font-size: 20px;
    }

    .filter-products
    {
        display: flex;
        align-items: flex-start;
    }

    .filter-button
    {
        display: none;
    }

    .filter-forms-container
    {
        display: block;
        margin-top: 6rem;
    }

    .filter-buttons-container
    {
        display: block;
        min-width: 25%;
    }

    .price-inputs-container
    {
        flex-direction: column;
    }

    .price-input
    {
        min-width: 0;
        max-width: none;
    }

    .products-container
    {
        margin-top: 3rem;
    }

    .filter-divs
    {
        margin-top: 2rem;
    }

    .main-filter-btn
    {
        display: block;
        width: 100%;
    }

    .title-products
    {
        margin-left: 2rem;
    }

    .noted-products
    {
        align-items: flex-start;
    }

    .with-color
    {
        font-size: 13px;
        line-height: 19px;
    }

    .without-color
    {
        font-size: 13px;
        line-height: 19px;
    }

    .colors-text
    {
        font-size: 16px;
    }
}
