.main-div
{
    padding: 1.5rem;
    padding-top: 8rem;
}

.product-type-title
{
    margin-top: 8%;
    margin-bottom: 3%;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.8px;
    color: #404040;
}

.product-name
{
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    color: #154193;
}

.name-mobile
{
    display: block;
}

.name-desktop
{
    display: none;
}

.main-image-container
{
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background-color: #fff;
}

.main-img
{
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
}

.not-found
{
    background-color: transparent;
}

.images
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-div
{
    padding: 0.5rem;
}

.img-icon
{
    width: 4rem;
    height: 4rem;
    border-radius: 8px;
    background-color: #fff;
}

.selected-main-img
{
    border: 2px solid #154193;
}

.product-colors
{
    display: flex;
    justify-content: space-between;
}

.color-type-div
{
    width: 93px;
    height: 93px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px 8px 0 0;
}

.selected
{
    background-color: rgba(237, 175, 0, 0.16);
    border-bottom: 2px solid #154193;
}

.not-selected
{
    background-color: rgba(237, 175, 0, 0.04);
}

.without-color
{
    width: 17px;
    height: 17px;
}

.color-type-text
{
    margin-top: 5%;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #154193;
}

.items-to-cart
{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.add-or-remove
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 48px;
    min-height: 32px;
    border: 2px solid rgba(21, 65, 147, 0.25);
}

.add-remove-text
{
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.6px;
    color: rgba(21, 65, 147, 0.25);
}

#remove-from-cart
{
    border-radius: 8px 0 0 8px;
}

#add-to-cart
{
    border-radius: 0 8px 8px 0;
}

.items-to-cart-input
{
    width: 54px;
    height: 32px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.6px;
    text-align: center;
    color: #154193;
    border: 2px solid #154193;
}

.price
{
    margin-top: 2rem;
    margin-bottom: 3%;
    font-weight: 600;
    font-size: 32px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000;
}

.anchor
{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.add-to-cart
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button
{
    max-width: 312px;
    width: 312px;
    margin-top: 10%;
}

.basic-info
{
    margin-top: 12%;
    display: flex;
    justify-content: center;
}

.info-div
{
    /* padding: 8%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.info-left
{
    width: 88px;
    border-right: 1px solid rgba(21, 65, 147, 0.25);
}

.info-middle
{
    width: 126px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.info-right
{
    width: 96px;
    border-left: 1px solid rgba(21, 65, 147, 0.25);
}

.info-img
{
    min-height: 26px;
    margin-bottom: 10%;
}

.info-title
{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.4px;
    color: #404040;
}

.info-text
{
    min-height: 48px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #404040;
}

.vertical-line
{
    height: 100%;
    border-left: 1px solid rgba(21, 65, 147, 0.25);
}

.about
{
    padding: 8%;
}

.desktop-plane
{
    display: none;
}

.about-title
{
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    color: #154193;
}

.description-mobile
{
    display: block;
}

.description-desktop
{
    display: none;
}

.about-description
{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #404040;
}

.specs
{
    padding: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.specs-title-div
{
    margin-bottom: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.specs-title
{
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    color: #154193;
}

.specs-description
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.specs-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.specs-icon
{
    width: 52px;
    height: 52px;
    margin-bottom: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.specs-text
{
    margin-bottom: 15%;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #404040;
}

.specs-img-container
{
    display: none;
}

.orange-icons
{
    display: none;
}

.product-opinion
{
    padding: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opinion-title
{
    font-family: 'Don José';
    font-size: 29px;
    line-height: 36px;
    text-align: center;
    color: #154193;
}

@media(min-width: 768px)
{
    .product-type-title
    {
        font-size: 14px;
    }

    .product-name
    {
        font-size: 40px;
        line-height: 48px;
    }

    .color-type-div
    {
        width: 230px;
    }

    .without-color
    {
        width: 20px;
        height: 20px;
    }

    .with-color
    {
        width: 98px;
        height: 20px;
    }

    .color-type-text
    {
        font-size: 20px;
    }

    .items-to-cart
    {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .add-or-remove
    {
        width: 72px;
        height: 48px;
    }

    .add-remove-text
    {
        font-size: 16px;
    }

    .items-to-cart-input
    {
        width: 81px;
        height: 48px;
    }

    .price
    {
        font-size: 42px;
    }

    .anchor
    {
        font-size: 20px;
    }

    .button
    {
        max-width: 100%;
        width: 100%;
        margin-top: 5%;
    }

    .basic-info
    {
        width: 100%;
    }

    .info-div
    {
        width: 100%;
    }

    .info-img
    {
        margin-bottom: 5%;
    }

    .info-title
    {
        font-size: 25px;
        line-height: 35px;
    }

    .info-text
    {
        font-size: 18px;
        line-height: 20px;
    }

    .about
    {
        padding-left: 20%;
        padding-right: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-title
    {
        font-size: 40px;
        line-height: 48px;
    }

    .about-img-container
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* .about-img-bg
    {
        width: 100%;
        position: relative;
        left: 50%;
        top: 10%;
    }

    .about-img
    {
        width: 60%;
        position: relative;
        right: 50%;
    } */

    .about-description
    {
        font-size: 18px;
    }

    .specs-title-div
    {
        margin-bottom: 5%;
    }

    .specs-title
    {
        font-size: 40px;
        line-height: 48px;
    }

    .shine
    {
        width: 21px;
        height: 24px;
    }

    .opinion-title
    {
        font-size: 36px;
    }
}

@media (min-width: 1025px)
{
    .product-type-title
    {
        margin-top: 1rem;
    }

    .name-mobile
    {
        display: none;
    }

    .name-desktop
    {
        display: block;
    }

    .images-color
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .main-img-images
    {
        flex-basis: 68%;
        width: 100%;
        min-height: 350px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .main-image-container
    {
        flex-basis: 75%;
        width: 100%;
        min-height: 480px;
        display: flex;
        flex-direction: column;
    }

    .main-img
    {
        margin: 0;
    }

    .images
    {
        height: 480px;
        flex-basis: 25%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .img-div
    {
        flex-basis: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .img-icon
    {
        min-width: 72px;
        min-height: 72px;
    }

    .color-type-text
    {
        font-size: 16px;
    }

    .price
    {
        font-size: 32px;
    }

    .anchor
    {
        font-size: 16px;
    }

    .add-to-cart-link
    {
        width: 100%;
    }

    .colors-details
    {
        flex-basis: 30%;
    }

    .color-type-div
    {
        width: 94px;
    }

    .without-color
    {
        width: 14px;
        height: 14px;
    }

    .with-color
    {
        width: 74px;
        height: 14px;
    }

    .basic-info
    {
        margin-top: 2rem;
    }

    .info-div
    {
        justify-content: flex-start;
    }

    .info-img
    {
        margin-bottom: 0;
    }

    .info-title
    {
        font-size: 18px;
        line-height: 24px;
    }

    .info-text
    {
        font-size: 14px;
        line-height: 14px;
    }

    .about
    {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .about-title-description
    {
        flex-basis: 60%;
    }

    .about-img-container
    {
        flex-basis: 40%;
        position: relative;
    }

    .about-img
    {
        position: absolute;
        top: 12%;
        left: -43.955%;
        transform: rotate(-1.4deg);
        clip-path: inset(0 0 0 50%);
    }

    .desktop-plane
    {
        height: 100%;
        display: block;
        position: absolute;
        z-index: 1;
        bottom: -14rem;
    }

    .description-mobile
    {
        display: none;
    }

    .description-desktop
    {
        display: block;
    }

    .about-description
    {
        margin-top: 1rem;
    }

    .specs
    {
        position: relative;
        padding-left: 15rem;
        padding-right: 15rem;
        padding-bottom: 0;
    }

    .specs-description
    {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }

    .specs-img-container
    {
        display: block;
        width: 100%;
    }

    .orange-icons
    {
        display: block;
        position: absolute;
    }

    .right-cloud
    {
        top: 15rem;
        right: -1rem;
    }

    .left-cloud
    {
        left: -1rem;
        bottom: 5rem;
    }

    .plane
    {
        top: 7rem;
        left: 8rem;
    }
}
