.register-form
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width:1200px) {
    .register
    {
        width: 35%;
        position: relative;
    }
}

.welcome
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-button-div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-button{
    width: 100%;
}
